/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 800px;
    margin: 20px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.app-header {
    margin-bottom: 40px;
}

.app-header h1 {
    font-size: 2.5rem;
    color: #001e4d;
    font-weight: 700;
    border-bottom: 2px solid #001e4d;
    padding-bottom: 10px;
}

.quiz-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.quiz h2 {
    font-size: 1.5rem;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 20px;
}

.answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #002f80;
}

.next-btn {
    background-color: #002f80;
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    /* Adjusted margin-top */
}

.next-btn:hover {
    background-color: #003fbc;
}

/* Footer styles */
.footer {
    background-color: #001e4d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-divider {
    border-color: #fff;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #002f80;
}

/* Media queries for responsive design */
@media (max-width: 767px) {
    .app {
        padding: 30px;
    }

    .app-header h1 {
        font-size: 2rem;
    }

    .quiz h2 {
        font-size: 1.25rem;
    }

    .answer-buttons {
        grid-template-columns: 1fr;
    }

    .btn {
        padding: 12px;
        font-size: 0.9rem;
    }

    .next-btn {
        padding: 12px 25px;
    }
}

@media (max-width: 575px) {
    .app {
        padding: 20px;
    }

    .app-header h1 {
        font-size: 1.75rem;
    }

    .quiz h2 {
        font-size: 1rem;
    }

    .btn {
        padding: 10px;
        font-size: 0.8rem;
    }

    .next-btn {
        padding: 10px 20px;
    }
}